BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: Inline
SpaceBeforeParens: Custom
SpacesBeforeTrailingComments: 1
AlignConsecutiveDeclarations: false
AlignConsecutiveAssignments: false
